@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot?jwqnso');
  src:url('../fonts/icomoon.eot?jwqnso#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?jwqnso') format('truetype'),
  url('../fonts/icomoon.woff?jwqnso') format('woff'),
  url('../fonts/icomoon.svg?jwqnso#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-advice:before {
  content: "\e900";
}
.icon-advicefill:before {
  content: "\e901";
}
.icon-apps:before {
  content: "\e902";
}
.icon-attention:before {
  content: "\e903";
}
.icon-attentionfill:before {
  content: "\e904";
}
.icon-baby:before {
  content: "\e905";
}
.icon-back:before {
  content: "\e906";
}
.icon-bell:before {
  content: "\e907";
}
.icon-bind:before {
  content: "\e908";
}
.icon-camera:before {
  content: "\e909";
}
.icon-camera2:before {
  content: "\e90a";
}
.icon-camerafill:before {
  content: "\e90b";
}
.icon-car:before {
  content: "\e90c";
}
.icon-cart:before {
  content: "\e90d";
}
.icon-cartfill:before {
  content: "\e90e";
}
.icon-category:before {
  content: "\e90f";
}
.icon-chat:before {
  content: "\e910";
}
.icon-chatfill:before {
  content: "\e911";
}
.icon-check:before {
  content: "\e912";
}
.icon-circleDiamond:before {
  content: "\e913";
}
.icon-circlePlane:before {
  content: "\e914";
}
.icon-circleShou:before {
  content: "\e915";
}
.icon-circleStore:before {
  content: "\e916";
}
.icon-citihui:before {
  content: "\e917";
}
.icon-clear:before {
  content: "\e918";
}
.icon-close:before {
  content: "\e919";
}
.icon-code:before {
  content: "\e91a";
}
.icon-collect:before {
  content: "\e91b";
}
.icon-collectfill:before {
  content: "\e91c";
}
.icon-comment:before {
  content: "\e91d";
}
.icon-commentfill:before {
  content: "\e91e";
}
.icon-coupon:before {
  content: "\e91f";
}
.icon-coupon2:before {
  content: "\e920";
}
.icon-current:before {
  content: "\e921";
}
.icon-date:before {
  content: "\e922";
}
.icon-delete:before {
  content: "\e923";
}
.icon-deletefill:before {
  content: "\e924";
}
.icon-diamond:before {
  content: "\e925";
}
.icon-discount:before {
  content: "\e926";
}
.icon-doubleCircle:before {
  content: "\e927";
}
.icon-doubleheart:before {
  content: "\e928";
}
.icon-doubleheartcircle:before {
  content: "\e929";
}
.icon-dress:before {
  content: "\e92a";
}
.icon-dressfill:before {
  content: "\e92b";
}
.icon-drink:before {
  content: "\e92c";
}
.icon-duihuanjifen:before {
  content: "\e92d";
}
.icon-flow:before {
  content: "\e92e";
}
.icon-fold:before {
  content: "\e92f";
}
.icon-footprint:before {
  content: "\e930";
}
.icon-forward:before {
  content: "\e931";
}
.icon-forwardfill:before {
  content: "\e932";
}
.icon-fruit:before {
  content: "\e933";
}
.icon-gift:before {
  content: "\e934";
}
.icon-giftfill:before {
  content: "\e935";
}
.icon-giftfull:before {
  content: "\e936";
}
.icon-guide:before {
  content: "\e937";
}
.icon-halfroundcheck:before {
  content: "\e938";
}
.icon-health:before {
  content: "\e939";
}
.icon-hot:before {
  content: "\e93a";
}
.icon-house:before {
  content: "\e93b";
}
.icon-index:before {
  content: "\e93c";
}
.icon-info:before {
  content: "\e93d";
}
.icon-infofill:before {
  content: "\e93e";
}
.icon-jiahaoyou:before {
  content: "\e93f";
}
.icon-jiatingyongpin:before {
  content: "\e940";
}
.icon-king:before {
  content: "\e941";
}
.icon-kingcircle:before {
  content: "\e942";
}
.icon-liangyoutiaoliao:before {
  content: "\e943";
}
.icon-link:before {
  content: "\e944";
}
.icon-locate:before {
  content: "\e945";
}
.icon-location:before {
  content: "\e946";
}
.icon-locationfill:before {
  content: "\e947";
}
.icon-love:before {
  content: "\e948";
}
.icon-map:before {
  content: "\e949";
}
.icon-mark:before {
  content: "\e94a";
}
.icon-market:before {
  content: "\e94b";
}
.icon-markfill:before {
  content: "\e94c";
}
.icon-member:before {
  content: "\e94d";
}
.icon-messagefill:before {
  content: "\e94e";
}
.icon-mine:before {
  content: "\e94f";
}
.icon-money:before {
  content: "\e950";
}
.icon-more:before {
  content: "\e951";
}
.icon-moreandroid:before {
  content: "\e952";
}
.icon-mouthcircle:before {
  content: "\e953";
}
.icon-my:before {
  content: "\e954";
}
.icon-myt:before {
  content: "\e955";
}
.icon-newPageGo:before {
  content: "\e956";
}
.icon-paint:before {
  content: "\e957";
}
.icon-paintfill:before {
  content: "\e958";
}
.icon-payment:before {
  content: "\e959";
}
.icon-pd_clock:before {
  content: "\e95a";
}
.icon-pd_crown:before {
  content: "\e95b";
}
.icon-pd_question:before {
  content: "\e95c";
}
.icon-pd_user:before {
  content: "\e95d";
}
.icon-personalCare:before {
  content: "\e95e";
}
.icon-phone:before {
  content: "\e95f";
}
.icon-phone2:before {
  content: "\e960";
}
.icon-pic:before {
  content: "\e961";
}
.icon-picfill:before {
  content: "\e962";
}
.icon-pinglun:before {
  content: "\e963";
}
.icon-plane:before {
  content: "\e964";
}
.icon-position:before {
  content: "\e965";
}
.icon-pulldown:before {
  content: "\e966";
}
.icon-pullleft:before {
  content: "\e967";
}
.icon-pullright:before {
  content: "\e968";
}
.icon-pullup:before {
  content: "\e969";
}
.icon-qcode:before {
  content: "\e96a";
}
.icon-question:before {
  content: "\e96b";
}
.icon-question2:before {
  content: "\e96c";
}
.icon-questionfill:before {
  content: "\e96d";
}
.icon-radiobox:before {
  content: "\e96e";
}
.icon-radioboxfill:before {
  content: "\e96f";
}
.icon-recommend:before {
  content: "\e970";
}
.icon-refresh:before {
  content: "\e971";
}
.icon-refresh2:before {
  content: "\e972";
}
.icon-refresharrow:before {
  content: "\e973";
}
.icon-report:before {
  content: "\e974";
}
.icon-reportfill:before {
  content: "\e975";
}
.icon-review:before {
  content: "\e976";
}
.icon-right:before {
  content: "\e977";
}
.icon-right2:before {
  content: "\e978";
}
.icon-round:before {
  content: "\e979";
}
.icon-roundadd:before {
  content: "\e97a";
}
.icon-roundaddfill:before {
  content: "\e97b";
}
.icon-roundcheck:before {
  content: "\e97c";
}
.icon-roundcheckfill:before {
  content: "\e97d";
}
.icon-roundclose:before {
  content: "\e97e";
}
.icon-roundclosefill:before {
  content: "\e97f";
}
.icon-rounddown:before {
  content: "\e980";
}
.icon-roundfill:before {
  content: "\e981";
}
.icon-roundright:before {
  content: "\e982";
}
.icon-roundrightfill:before {
  content: "\e983";
}
.icon-sajiao:before {
  content: "\e984";
}
.icon-sajiaofill:before {
  content: "\e985";
}
.icon-scan:before {
  content: "\e986";
}
.icon-search:before {
  content: "\e987";
}
.icon-searcht:before {
  content: "\e988";
}
.icon-service:before {
  content: "\e989";
}
.icon-service2:before {
  content: "\e98a";
}
.icon-share:before {
  content: "\e98b";
}
.icon-shiyijian:before {
  content: "\e98c";
}
.icon-shiyijianfull:before {
  content: "\e98d";
}
.icon-shopping:before {
  content: "\e98e";
}
.icon-sign:before {
  content: "\e98f";
}
.icon-signed:before {
  content: "\e990";
}
.icon-singleheartcircle:before {
  content: "\e991";
}
.icon-square:before {
  content: "\e992";
}
.icon-squarecheck:before {
  content: "\e993";
}
.icon-squarecheckfill:before {
  content: "\e994";
}
.icon-star:before {
  content: "\e995";
}
.icon-starfull:before {
  content: "\e996";
}
.icon-starN:before {
  content: "\e997";
}
.icon-store:before {
  content: "\e998";
}
.icon-storefill:before {
  content: "\e999";
}
.icon-supermarket:before {
  content: "\e99a";
}
.icon-talk:before {
  content: "\e99b";
}
.icon-talksubject:before {
  content: "\e99c";
}
.icon-text:before {
  content: "\e99d";
}
.icon-time:before {
  content: "\e99e";
}
.icon-timefill:before {
  content: "\e99f";
}
.icon-top:before {
  content: "\e9a0";
}
.icon-triangle:before {
  content: "\e9a1";
}
.icon-tuihuo:before {
  content: "\e9a2";
}
.icon-unbind:before {
  content: "\e9a3";
}
.icon-unfold:before {
  content: "\e9a4";
}
.icon-unsign:before {
  content: "\e9a5";
}
.icon-upload:before {
  content: "\e9a6";
}
.icon-voice:before {
  content: "\e9a7";
}
.icon-voicefill:before {
  content: "\e9a8";
}
.icon-wang:before {
  content: "\e9a9";
}
.icon-wangfill:before {
  content: "\e9aa";
}
.icon-weixin:before {
  content: "\e9ab";
}
.icon-weixinfill:before {
  content: "\e9ac";
}
.icon-wrong:before {
  content: "\e9ad";
}
.icon-xianhua:before {
  content: "\e9ae";
}
.icon-xiaohuafill:before {
  content: "\e9af";
}
.icon-xiuxianFood:before {
  content: "\e9b0";
}
.icon-yigouda:before {
  content: "\e9b1";
}

